.landing-wrapper {
  border: 1px solid black;
  border-radius: 3px;
  margin: auto;
  width: 33%;
  box-shadow: 3px 3px lightgray;

  .landing-header {
    margin: 10px auto;
    margin-bottom: 10px;
    width: 50%;
  }
}

.landing-input {
  border-radius: 3px;
  padding: 5px;
  width: 40%;
  margin-top: 20px;
}

.field-description {
  margin: 0 auto;
  width: 40%;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}

.error {
  width: 40%;
  font-size: 10px;
  color: red;
  padding: 0;
  margin: 0 auto;
  text-align: left;

}

.btn {
  width: 80px;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }
}

.register-link {
  margin: auto;
  width: 33%;
  font-size: 12px;
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


